.button-default {
  cursor: pointer;
  border-radius: 40px;
  background-color: #ff3b3f;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0px;
  color: #ffffff;
  border: none;
  height: 60px;
  position: relative;
  
 
}
.button-default:disabled {
  cursor: not-allowed;
}

.button-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
